:root {
  /* black colors */
  --black-500: #303030;
  --black-600: #252525;
  --black-700: #212121;
  --black-800: #181818;
  --black-900: #000000;

  /* gray colors */
  --gray-400: #afafaf;

  /* white colors */
  --white-900: #ffffff;

  /* white-alpha colors */
  --white-alpha-50: rgba(255, 255, 255, 0.05);
  --white-alpha-100: rgba(255, 255, 255, 0.1);
  --white-alpha-150: rgba(255, 255, 255, 0.15);
}
