:root {
  /* black colors */
  --color-black-500: #303030;
  --color-black-600: #252525;
  --color-black-700: #212121;
  --color-black-800: #181818;
  --color-black-900: #000000;

  /* gray colors */
  --color-gray-400: #afafaf;

  /* white colors */
  --color-white-900: #ffffff;

  /* white-alpha colors */
  --color-white-alpha-50: rgba(255, 255, 255, 0.05);
  --color-white-alpha-100: rgba(255, 255, 255, 0.1);
  --color-white-alpha-150: rgba(255, 255, 255, 0.15);
}
