@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--black-800);
    --foreground: var(--white-900);

    --popover: var(--black-700);
    --popover-foreground: var(--white-900);

    --primary: var(--white-900);
    --primary-foreground: var(--black-900);

    --secondary: var(--white-alpha-50);
    --secondary-foreground: oklch(0.985 0 0);

    --muted: var(--black-500);
    --muted-foreground: var(--gray-400);
    --accent: var(--white-alpha-50);
    --destructive: var(--red-500);

    --border: var(--white-alpha-150);
    --input: var(--white-alpha-150);
    --ring: color-mix(in oklch, var(--primary) 15%, transparent);

    --sidebar: var(--black-800);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-accent: var(--white-alpha-100);
    --sidebar-border: var(--white-alpha-50);

    --overlay: color-mix(in srgb, var(--black-900) 60%, transparent);
  }
}

:root.dark {
  --background: var(--black-700);
  --foreground: var(--white-900);

  --popover: var(--black-700);
  --popover-foreground: var(--white-900);

  --primary: var(--white-900);
  --primary-foreground: var(--black-900);

  --secondary: var(--white-alpha-50);
  --secondary-foreground: oklch(0.985 0 0);

  --muted: var(--black-400);
  --muted-foreground: var(--gray-400);
  --accent: var(--white-alpha-50);
  --destructive: var(--red-500);

  --border: var(--white-alpha-150);
  --input: var(--white-alpha-150);
  --ring: color-mix(in oklch, var(--primary) 15%, transparent);

  --sidebar: var(--black-800);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-accent: var(--white-alpha-100);
  --sidebar-border: var(--white-alpha-50);

  --overlay: color-mix(in srgb, var(--black-900) 60%, transparent);
}
