@media (prefers-color-scheme: light) {
  :root {
    --background: var(--white-900);
    --foreground: var(--black-700);
    --destructive: oklch(55.3% 0.197 29.5);
  }
}

:root.light {
  --background: var(--white-900);
  --foreground: var(--black-700);
  --destructive: oklch(55.3% 0.197 29.5);
}
